<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Admin Page</title>
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="admin-home.css">
</head>

<body>
    <div class="top">
          <h1 class="top__welcome">
            Welcome!
          </h1>
          <p class="top__desc">
            hello. this will give admins instructions and stuff like that i guess. end.
          </p>
          <div class="top__buttons">
            <button class="top__button">Download Form</button>
            <button class="top__button">Upload Form</button>
          </div>
    </div>
  
    <div class="tags">
      <h1 class="tags__header">Edit Tags:</h1>
    </div>
  
    <div class="eols">
      <h1 class="eols__header">Manage Exhibitions:</h1>
    </div>
  
    <script src="./public/admin-home.js"></script>
</body>