<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login / Sign Up Form</title>
    <link rel="stylesheet" href="admin-login.css">
  </head>


  <body>
    <div class="container">
        <form class="form" id="login">
            <h1 class="form__title">Login</h1>
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="Username or email">
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password">
            </div>
            <button class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a href="#" class="form__link">Forgot your password?</a>
            </p>
        </form>
    </div>
    
    <script src="./public/admin-login.js"></script>
    
  </body>
</html>