<head>
    <link rel="stylesheet" href="foot.css"/>
 </head>
 
 <body>
     <div class="foot">
 <!--  All code for different sections/routes of nav bar  -->
       <a href="https://andover.edu/">
         <img class = "pa_logo" src="https://s3-alpha-sig.figma.com/img/61eb/f67d/dfc45a91d79e624a02256d5cc703acdb?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=i23TU9atd45CSiG6MTjKOppDAE0RFZ9nUNAcpS-fK9lTm0Bs-GlUMnrOE~kiBgcuYj~JzKzV~ekrI7Vkgc4ToXN4ohvQzbgh0PwDoKVd6vUwCe3EQAGoq7r9Dc3hWuD~wRAlschxWgCdZlSySIylpfMsumvlb7FM0lZulH6EV~tqzayKax2CW6N2DfzU4ZxWWuQg58pQN8qIZHRo-HCw5XQpA60s8MKyL0mW6bpv7iHL-8Jy8vXMuZRIuCquA9qzTDV36CdNKgQZJuNnvbEd2xhYA6GKQ6TLFPdTtI9u~TgxzpHejD72-ZPG0PKeGTDXjddwAMXEQzB2mEGu50X4CQ__">
       </a>
       <div class="foot-text">
         <p>
           Phillips Academy
         </p>
         <p>
           CompSci Department
         </p>
         <p>
           Contact Info
         </p>
       </div>
       
     </div>
 
 </body>
       