<html>
<head>
  <title>Web Dev Practice</title>
  <link rel="stylesheet" href="style.css"/>
  <script src="script.js"></script>
  <link rel="stylesheet" href="home.css"/>
  <style>
    .home {
      font-weight: bold;
    }
  </style>
</head>

<%- include('nav') %>

<body>

<div class="intro_section" id="intro_image">
  <div class="intro_content">
    <div class="welcome">
      <h1 class="welcome_title"> Exhibition of Learning</h1>
      <p id="welcome_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Platea dictumst quisque sagittis purus. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Scelerisque in dictum non consectetur a erat. Turpis tincidunt id aliquet risus feugiat in ante metus. Eu ultrices vitae auctor eu augue ut. Est velit egestas dui id ornare arcu odio ut sem.
      </p>
    </div>

    <div class="search_bar_section">
      <div class="search_bar_box">
        <div class="search_bar">
          <img id="search_image" src="https://cdn-icons-png.flaticon.com/512/61/61088.png">
           <div class="selection_button" onclick="">
            
            <select>
              <option>All Tags</option>
              <option>Skill</option>
              <option>Throughline</option>
              <option>Name</option>
              <option>Teacher</option>
              <option>Class</option>
            </select>
            <span class="custon-arrow"></span>
          </div> 
          <input type="text" id="search_bar" placeholder="Hashtag Search ... " onkeyup="search()">
          <div id="tag_panel_of_search">
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
          </div>
          <img id="microphone_image" src="https://www.iconpacks.net/icons/1/free-microphone-icon-342-thumb.png">
        </div>
      </div>
      
    </div>
    
    
    
  </div>
</div>
    

<div class="highlights">
  <h1 class="highlights_text">Recent Exhibition of Learning</h1>
    <div class="video_highlights">
      
        <div class="video">
          <div class="video_thumbnail"><iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1188822/sp/118882200/embedIframeJs/uiconf_id/25697092/partner_id/1188822?iframeembed=true&amp;playerId=kaltura_player&amp;entry_id=1_ofiuys05&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[hotspots.plugin]=1&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&amp;wid=1_4mlte2vv" width="400" height="285" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay *; fullscreen *; encrypted-media *" sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" frameborder="0" title="Screen Recording 2024-04-23 at 2.18.06 PM"></iframe>
          </div>
          <div class="video_tags">CSC573: Project-Based Term of CS
            
                | Speaking in Translations
                
                | Refactoring Code
                
          </div>
          <div class="video_text">
            <div class="student_name">Hannah Chen</div>
            <div class="upload_date">
              
                Fall Term, 
                
              2023 
            </div>
          </div>
        </div>
        
        <div class="video">
          <div class="video_thumbnail"><iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1188822/sp/118882200/embedIframeJs/uiconf_id/25697092/partner_id/1188822?iframeembed=true&amp;playerId=kaltura_player&amp;entry_id=1_ofiuys05&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[hotspots.plugin]=1&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&amp;wid=1_4mlte2vv" width="400" height="285" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay *; fullscreen *; encrypted-media *" sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" frameborder="0" title="Screen Recording 2024-04-23 at 2.18.06 PM"></iframe>
          </div>
          <div class="video_tags">CSC573: Project-Based Term of CS
            
                | Speaking in Translations
                
                | Refactoring Code
                
          </div>
          <div class="video_text">
            <div class="student_name">Emma Capaldi</div>
            <div class="upload_date">
              
                Fall Term, 
                
              2023 
            </div>
          </div>
        </div>
        
        <div class="video">
          <div class="video_thumbnail"><iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1188822/sp/118882200/embedIframeJs/uiconf_id/25697092/partner_id/1188822?iframeembed=true&amp;playerId=kaltura_player&amp;entry_id=1_ofiuys05&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[hotspots.plugin]=1&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&amp;wid=1_4mlte2vv" width="400" height="285" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay *; fullscreen *; encrypted-media *" sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" frameborder="0" title="Screen Recording 2024-04-23 at 2.18.06 PM"></iframe>
          </div>
          <div class="video_tags">CSC401: Web Dev
            
                | Speaking in Translations
                
                | Refactoring Code
                
          </div>
          <div class="video_text">
            <div class="student_name">Emma Capaldi</div>
            <div class="upload_date">
              
                Winter Term, 
                
              2022 
            </div>
          </div>
        </div>
        
        <div class="video">
          <div class="video_thumbnail"><iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1188822/sp/118882200/embedIframeJs/uiconf_id/25697092/partner_id/1188822?iframeembed=true&amp;playerId=kaltura_player&amp;entry_id=1_ofiuys05&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[hotspots.plugin]=1&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&amp;wid=1_4mlte2vv" width="400" height="285" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay *; fullscreen *; encrypted-media *" sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" frameborder="0" title="Screen Recording 2024-04-23 at 2.18.06 PM"></iframe>
          </div>
          <div class="video_tags">CSC401: Web Dev
            
                | Speaking in Translations
                
                | Refactoring Code
                
          </div>
          <div class="video_text">
            <div class="student_name">Emma Capaldi</div>
            <div class="upload_date">
              
                Winter Term, 
                
              2022 
            </div>
          </div>
        </div>
        
        <div class="video">
          <div class="video_thumbnail"><iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1188822/sp/118882200/embedIframeJs/uiconf_id/25697092/partner_id/1188822?iframeembed=true&amp;playerId=kaltura_player&amp;entry_id=1_ofiuys05&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[hotspots.plugin]=1&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&amp;wid=1_4mlte2vv" width="400" height="285" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay *; fullscreen *; encrypted-media *" sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" frameborder="0" title="Screen Recording 2024-04-23 at 2.18.06 PM"></iframe>
          </div>
          <div class="video_tags">CSC401: Web Dev
            
                | Speaking in Translations
                
                | Refactoring Code
                
          </div>
          <div class="video_text">
            <div class="student_name">Emma Capaldi</div>
            <div class="upload_date">
              
                Winter Term, 
                
              2022 
            </div>
          </div>
        </div>
        
        <div class="video">
          <div class="video_thumbnail"><iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1188822/sp/118882200/embedIframeJs/uiconf_id/25697092/partner_id/1188822?iframeembed=true&amp;playerId=kaltura_player&amp;entry_id=1_ofiuys05&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[hotspots.plugin]=1&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&amp;wid=1_4mlte2vv" width="400" height="285" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay *; fullscreen *; encrypted-media *" sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" frameborder="0" title="Screen Recording 2024-04-23 at 2.18.06 PM"></iframe>
          </div>
          <div class="video_tags">CSC401: Web Dev
            
                | Speaking in Translations
                
                | Refactoring Code
                
          </div>
          <div class="video_text">
            <div class="student_name">Emma Capaldi</div>
            <div class="upload_date">
              
                Winter Term, 
                
              2022 
            </div>
          </div>
        </div>
        
        <div class="video">
          <div class="video_thumbnail"><iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1188822/sp/118882200/embedIframeJs/uiconf_id/25697092/partner_id/1188822?iframeembed=true&amp;playerId=kaltura_player&amp;entry_id=1_ofiuys05&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[hotspots.plugin]=1&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&amp;wid=1_4mlte2vv" width="400" height="285" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay *; fullscreen *; encrypted-media *" sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" frameborder="0" title="Screen Recording 2024-04-23 at 2.18.06 PM"></iframe>
          </div>
          <div class="video_tags">CSC401: Web Dev
            
                | Speaking in Translations
                
                | Refactoring Code
                
          </div>
          <div class="video_text">
            <div class="student_name">Emma Capaldi</div>
            <div class="upload_date">
              
                Winter Term, 
                
              2022 
            </div>
          </div>
        </div>
        
        <div class="video">
          <div class="video_thumbnail"><iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1188822/sp/118882200/embedIframeJs/uiconf_id/25697092/partner_id/1188822?iframeembed=true&amp;playerId=kaltura_player&amp;entry_id=1_ofiuys05&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[hotspots.plugin]=1&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&amp;wid=1_4mlte2vv" width="400" height="285" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay *; fullscreen *; encrypted-media *" sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" frameborder="0" title="Screen Recording 2024-04-23 at 2.18.06 PM"></iframe>
          </div>
          <div class="video_tags">CSC401: Web Dev
            
                | Speaking in Translations
                
                | Refactoring Code
                
          </div>
          <div class="video_text">
            <div class="student_name">Emma Capaldi</div>
            <div class="upload_date">
              
                Winter Term, 
                
              2022 
            </div>
          </div>
        </div>
        
        <div class="video">
          <div class="video_thumbnail"><iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1188822/sp/118882200/embedIframeJs/uiconf_id/25697092/partner_id/1188822?iframeembed=true&amp;playerId=kaltura_player&amp;entry_id=1_ofiuys05&amp;flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[hotspots.plugin]=1&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&amp;wid=1_4mlte2vv" width="400" height="285" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay *; fullscreen *; encrypted-media *" sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" frameborder="0" title="Screen Recording 2024-04-23 at 2.18.06 PM"></iframe>
          </div>
          <div class="video_tags">CSC401: Web Dev
            
                | Speaking in Translations
                
                | Refactoring Code
                
          </div>
          <div class="video_text">
            <div class="student_name">Emma Capaldi</div>
            <div class="upload_date">
              
                Winter Term, 
                
              2022 
            </div>
          </div>
        </div></div>
      
</div>

  </body>
    
  <%- include('foot') %>
  
  
</html>