<head>
    <link rel="stylesheet" href="popup.css"/>
    <script src="popup.js"></script>
  </head>
  
  <body>
        <div class="popup_content">
          <span class="close_button" onclick="closePopup(this)">x</span>
          <div class="expanded_image"></div>
          <div class="expanded_info">
            <h2><em>Name</em></h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor semper quam, a volutpat nulla suscipit ac. Proin eu mauris vitae odio porta vulputate. Fusce hendrerit orci et sapien volutpat, id vestibulum mi rutrum.
            </p>
          </div>
        </div>
  
  </body>
        