<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login / Sign Up Form</title>
    <link rel="stylesheet" href="search-results.css">
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>

<%- include('nav') %>

<body>
  <div class="change-page">
    <button>Edit Exhibition</button>
    <button>Presentable View</button>
  </div>
  
  <div class="tag-description">
    <h2 class="tag-description__title">SAMPLE TAG</h2>
    <p class="tag-description__info">This is a sample tag description.. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  
  <div class="eols">
    <h1 class="eols__title">Exhibitions of Learning</h1>
    <div class="exhibition">
      <div class="exhibition__video"></div>
      <div class="exhibition__tags">
        <p class="exhibition__tag">#Sample Tag 1</p>
        <p class="exhibition__tag">#Sample Tag 2</p>
      </div>
      <p class="exhibition__info">Student Name</p>
      <p class="exhibition__info">Upload Date</p>
    </div>
  </div>
</body>
  
<%- include('foot') %>