<html>
  <head>
    <title>Search Exhibitions</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="skills.css"/>
    <style>
    .search {
        font-weight: bold;
      }
    </style>
  </head>
  
  <%- include('nav') %>
  <body>
    
    <div class="container1">
      <div class="header">
        <h1>
        Search Exhibitions
        </h1>
      </div>
      
    
  </body>
  <%- include('foot') %>
  
  
</html>