body {
    --color-primary: #00319C;
    --color-primary-dark: #007f67;
    --color-secondary: #8DC63F;
    --color-secondary-dark: #75a633;
    --color-light: #F7F7F7;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    justify-content: center;
    font-size: 18px;
    background-color: #2D2D2D;
    background-size: cover;
}

.top{
  background-color: var(--color-light);
  width: 60rem;
  margin: .25rem auto;
  margin-top: 3rem;
  padding: .25rem;
  border-radius: var(--border-radius);
}

.tags,
.eols{
  background-color: var(--color-light);
  width: 60rem;
  margin: 1rem auto;
  padding: .25rem;
  border-radius: var(--border-radius);
}

.top__welcome,
.tags__header,
.eols__header{
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.top__desc{
  font-size: 18px;
  margin: 0 1rem;
  border-radius: var(--border-radius);
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}

.top__buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
}

.top__button{
  border:none;
  background-color: var(--color-secondary);
  color: white;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 0;
  padding: .5em;
  border-radius: var(--border-radius);
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}

.top__button:hover{
  background-color: var(--color-secondary-dark);
}
