/* Transparent gray to cover the background when popup is up */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 1000; /* High number to ensure it overlays other content */
    display: none; /* Initially hidden */
  }
  
  /* formatting for popup rectangle */
  .popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1001; /* Ensure it appears above other content, including the overlay */
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); /* Box shadow for depth */
    max-width: 80%;
    max-height: 80%;
    width: 60em;
    height: 30em;
    overflow: auto; /* Enable scrolling if needed */
  /*   border: 3px solid black; */
  }
  
  
  .popup_content {
    height: 100%;
    width: 100%;
    position: relative; /* Position relative for absolute positioning of close button */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  /*   border: 3px solid black; */
  }
  
  /* close button! */
  .popup_content .close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .expanded_image {
    height: 20em; 
    width: 20em; 
    background-color: black; /* Placeholder background color */
  /*   border: 3px solid black; */
  }
  
  .expanded_info {
    width: 30em;
  /*   border: 3px solid black; */
  }
  
  .expanded_info h2 {
    font-size: 20px;
  }
  
  .expanded_info p {
    font-size: 16px;
  }
  
  .popup.show,
  .overlay.show {
    display: block; /* Displayed when 'show' class is present */
  } 